/*######################## header #####################*/
header {
  width: auto;
  height: 200px;
  background-color: LightSeaGreen;

}


header nav  {
  width: 600px;;
  height: 122px;
  float: right;

}

header nav img {

  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 3px 3px;
  display: inline-block;
}

ul :hover {
  background-color: skyblue;
}

header nav ul {
  position: absolute;
  display: inline-block;

}

header nav li {
  margin-right: 10px;
  display: inline-block;
}

header h1 {
  text-align: center;
  background-color: Lightgreen;
  color: blue;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&  body   &&&&&&&&&&&&&&&&&&&&&&&&*/

 /*############################## container #########################*/
.container {
   position: relative;
}

 /*################################ aside ##########################*/
.container aside {
  width:  200px;
  height: 700px;
  background-color: Gainsboro;
  display: inline-block;

}

 .container aside img {
  width: 120px;
  height: 90px;
}

.container aside h2 {
  text-align: left;
  color: #CD5B45;
}

.container aside p {
font-size: 90%;
color: #58427C;
}

/*############################## aside #########################*/


/*################################## section ########################*/



.container section {


  display: inline-block;
  background-color: #B9F2FF;
  width: 1074.9px;;
  height: 700px;
   position: absolute;
}



.container  section img {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-bottom: 100px;
}


.container .topleft ,.topright ,.top{
  display: inline-block;
  width: 100px;
  height: 320px;
  margin-left: 300px;
}




.container .top ul{
  width: 300px;
  height: 300px;
  display: inline-block;
}


.container  .top li {
  display: inline-block;
  margin-left: px;
}

/*################################### section ###################*/
